<html>
	<body>
		<h1>Chef nginx test & template variables..</h1>
		<p>
			<strong>OS: </strong> <%= @platform%> <br />
			<strong>Version: </strong> <%= @version%> <br />
			<strong>IP: </strong> <%= @ip%> <br /><br />
		
			<strong>Proxy Pass FuzzySec: </strong><a href="/redirect">here</a>
		</p>
	</body>
</html>